/* colors: comp colors-#50106B and #7A5F09
background-contrast color: #FFFFF0 (Ivory)
font-family: 'Della Respira', serif;
font-family: 'Quicksand', sans-serif;
pink color: hsla(301, 39%, 88%, 0.4)
*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body{
	background-color: hsla(301, 39%, 88%, 0.2);

		font-family: 'Belleza', sans-serif;
	color: #36454f;
	line-height: 1.5;
}
h1,h4{
		font-family: 'Quicksand', sans-serif;
}

img{
	box-shadow: 0 0 5px #36454f;
}


.nav-bar ul{
	font-family: 'Quicksand', sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 4px 2px -2px gray;
}
.nav-bar ul li {
  float: right;
  margin-right: 20px;
}

.nav-bar ul li a {
  display: block;
		/* color: #36454f; */
		color: #36454f;
			font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.nav-bar ul li a:hover {
/* 		color: hsla(301, 39%, 100%); */
		background-color: hsla(301, 39%, 88%, 0.2);
/* 		background-color: green; */
  
		text-shadow: 0 0 80px white;
		/* text-shadow: 0 0 5px #483D8B; */
}
.nav-bar{
	  position: sticky;
  top: 0;
}
/* .nav-bar ul li a{ */
	/* text-decoration: none; */
		/* color: #36454f; */
			/* font-weight: bold; */
/* } */
/* .nav-bar ul li:hover{ */
		/* color: #483D8B; */
/* } */
.space{
	width: 100%;
	height: 50px;
}

.bookmarks-1, .bookmarks-2{
	width: 100%;
	height: 20px;
}
.about-me{
	display: flex;
	/* width: 1330px; */
	width: 100%;
	margin: 80px auto;
	/* justify-content: space-around; */
		justify-content: center;
}
.about-me h1{  
	font-size: 50px;
	margin-bottom: 0;
	line-height: 0.9;
}
.about-me p{  

	font-size: 16px;
	max-width: 600px;
	/* margin: 10px auto; */
	
}
.links-info a, .links-info{
	text-decoration: none;
	color: #36454f;
	font-size: 16px;
	margin: 0;
	font-weight: bold;
/* 	margin-top: -20px; */
}


.links-info a:hover{
		color: #f7630c;
/* 		text-shadow: 0 0 2px #36454f; */
}
.about-me-info{
		margin: 90px 80px;
		/* margin-left: 300px; */
		/* margin-right: 130px; */
		/* outline: 2px dashed black; */
		
}
.pic-of-me{
	margin: 0 80px;
			/* margin-right: 130px; */
		/* outline: 2px dashed blue; */
}
.pic-of-me img{
	width: 400px;

}

.projects{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 40px;
	width: 100%;
}
.projects div h4{
	text-align: center;
	font-size: 1.3vw;
}
.project-description{
	max-width: 35%; 
	/* padding: 30px; */
}
.project-visual{
width: 65%;
text-align: center;
}

.project-description-2{
	width: 100%; 
	padding: 30px;
}
.project-visual-2{
	text-align: center;
	padding: 30px;
	width: 100%;
}


.img-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 40px;
	
}

.ed-project-description p, .ed-project-description h4{
	width: 60%;
	margin: 40px auto;
	font-size: 18px;
	text-align: center;
}


iframe{
	width:85%;
	height:700px; 
	margin-bottom: 40px;
	border: 0px;
}

.destiny-project{
	margin-top: 50px;
	text-align: center;
	font-size: 20px;
	/* min-width: 380px;	 */
}
.destiny-project h4, .destiny-project p{
	width: 60%;
	margin: 40px auto;
	font-size: 18px;
	text-align: center;	
	
}

.destiny-project h4, .ed-project-description h4{
	font-size: 20px;
	margin-bottom: 0;
}

.destiny-project p, .ed-project-description p{
	margin-top: 0;
}
.ed-project-pics1 img, .ed-project-pics3 img,.ed-project-pics5 img{
	margin-right: 50px;
	
}
.img-container-diff div{
	margin: 60px;
	margin-left: 210px;
}
.img-container-diff div iframe{
	margin-top: 0;
	margin-left: 310px;
	margin-right: 60px;
}
.img-container-diff .ed-project-pics4{
	float: right;
	margin-right: 300px;
	margin-left: 0;
}
.powerpoint iframe{
	width: 640px;
	max-height: 389px;
	/* margin: 40px; */
}
.img-container-diff .powerpoint {
	/* max-width: 640px; */
	max-height: 400px;
	margin-left: 0;
	/* margin: 40px; */
}

.cst-338-final-project-pp{
			width:60%;
	margin: 50px auto;

}

.cst-338-final-project-pp iframe{
		width: 100%;
		max-height: 600px;
}





div.about-me p.emojis{
	font-size:48px; 
	text-align: center; 
	margin-top: 60px;
}

div.margin-top p{
	margin-top: 40px;
}
@media only screen and (max-width: 350px){
.nav-bar ul li a {
	padding: 10px 5px;
	font-size: 5vw;
}	
}
@media only screen and (max-width: 650px){
	.powerpoint iframe{
		width: 100%;
	}
}

@media only screen and (max-width: 830px){
	.nav-bar ul li {
  margin-right: 0px;
}
  
	iframe, .cst-338-final-project-pp, .pdf{
		width: 100%;
	}
	.pic-of-me img, img{
		width: 100vw;
    max-width: 300px;
	}
  
	.pic-of-me{
		margin: 0;
	}
	.about-me{
	margin-bottom: 0;	
	}
	div.about-me div p{
		width: 100vw;
/* 		margin-right: 0; */
    padding: 0 10px 0 10px;
	}
	.about-me-info{
		margin: 0;
	}
	div.about-me p.emojis{
		margin-top: 30px;
		margin-bottom: 30px;
	}

.ed-project-description p, .ed-project-description h4{
	width: 100%;
}
.destiny-project h4, .destiny-project p{
	width: 100vw;
}
}

@media only screen and (max-width: 1200px){

	.img-container div{
		margin-top: 40px;
	}
	.about-me{
		flex-direction: column;
		text-align: center;
	}
  .about-me img{
    max-width: 300px;
  }
  .about-me-info, .about-me{
    margin-top: 20px;
    margin-bottom: 20px;
  }
	.about-me div p{
				margin: 0 auto;
	}
}

@media only screen and (max-width: 1825px){
	.img-container-diff div{
		margin-left: 30px; 
	}
	.img-container-diff .ed-project-pics4{
		margin-right: 30px;
	}
	
}

@media only screen and (max-width: 1300px){
	.img-container-diff div{
		width: 100%;
		margin: 0px auto; 
				text-align: center;
				
	}
	
	.ed-project-pics3 img{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	.img-container-diff .ed-project-pics4{
		margin-right: 0px;
	}
	
	.ed-project-pics1 img, .ed-project-pics3 img,.ed-project-pics5 img{
	margin-right: 0px;

	
}
	.img-container-diff div iframe{
	margin-left: 0px;
	margin-right: 0px;
}
}
